.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: url('../../assets/images/bg.jpeg') no-repeat 50%;
  background-size: cover;
}

.btn-container {
  display: block;
  width: 800px;
  margin-bottom: 20px;
  margin-top: -50px;
}
